<!DOCTYPE html>
<html lang="en">
<title>VINAYAGAA ENGINEERING</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body
{
  font-family: "Lato", sans-serif
}
.w3-bar,h1,button 
{
  font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
  font-size:200px
}
header{
  background-image: url(https://i.pinimg.com/originals/c3/51/ab/c351ab4b9db84d85a8d4f2796c32caba.jpg);
  opacity: 0.9;
}
.w3-row-padding
{
  background-color: rgb(239, 241, 241);
}

.w3-margin{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-style: italic;
       font-size: 60px;
}
.w3-xlarge{
  font-family: cursive;
}
</style>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-grey w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      <a href="sell/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sell</a>
      <a href="home/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Buy</a>
      <a href="contact/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="sell/" class="w3-bar-item w3-button w3-padding-large">Sell</a>
      <a href="home/" class="w3-bar-item w3-button w3-padding-large">Buy</a>
      <a href="contact/" class="w3-bar-item w3-button w3-padding-large">Contact</a>
      
    </div>
  </div>
  
  <!-- Header -->
  <header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo"><b>VINAYAGAA ENGINEERING</b></h1>
    <p class="w3-xlarge">We Are Buying and Selling All types of Processing Mills Machineries</p>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started with us</button>
  </header>
  
  
    
  
  
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>About us</h1>
        <h5 class="w3-padding-32">Vinayagaa engineering is the perfect online marketplace to buy and sell locally! No need to visit the flea market to find the best deals on pre-owned items! Here you’ll find a wide selection of Processing mills machinery</h5>
  
        <p> You can browse and search for your desired products by product name . With vinayagaa engineering, you are guaranteed 24x7 customer service support!!</p>
          <p>Make money selling your like new items. It’s safe and easy.
          </p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
      </div>
    </div>
  </div>
  
  

<!-- Footer -->

</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>